@{
    ViewBag.Title = "Home Page";
}

<h1>Hello from the view</h1>

<h1>Welcome to the A/B Test Page</h1>

<p>You are in version: <strong>@ViewBag.Version</strong></p>

@if (ViewBag.IsMobile)
{
    <p>You are using a <strong>mobile device</strong>.</p>
}
else
{
    <p>You are using a <strong>desktop</strong>.</p>
}
@* @{ *@
@*     ViewData["Title"] = "Home Page"; *@
@* } *@

@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@
